[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
sklearn = "*"
line-profiler = "*"

[dev-packages]

[requires]
python_version = "3.9"
